<html>
<head>
    <title>Criar pessoas</title>
</head>
<body>
    <h1>Criação de Pessoas</h1>
    <a href="{% url 'pessoas_pessoa_list' %}">Ir para listagem de pessoa</a>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Criar</button>
    </form>
</body>
</html>