<html>
<head>
    <title>Deletar Pessoa</title>
</head>
<body>
    <h1>Deletar  Pessoa</h1>
    <a href="{% url 'pessoas_pessoa_list' %}">Ir para listagem de pessoa</a>
    <form method="post">
        {% csrf_token %}
        <p>Você deseja deletar a pessoa {{ pessoa.nome }}</p>
        <button type="submit">Sim, quero deletar</button>
    </form>
</body>
</html>